td {
    padding: 10px;
    border-bottom: 2px solid darkslategrey;
}

#right {
    width: 200px;
}

#left {
    margin-right: 65px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#right > button {
    margin-bottom: 20px;
}