<div class="parent">
  <div id="left" fxLayout="column" fxLayoutGap="60px">
    <div>
      <h1>Groups</h1>
      <table>
          <tr *ngFor="let group of groups; let i = index">
            <td>{{group.groupingName}} </td>
            <td><button md-button (click)="showUsersForGroup(i)">View</button></td>
            <!-- <td><button md-button (click)="deleteGroup(i)">Delete</button></td> -->
          </tr>
      </table>
    </div>

    <div>
      <div *ngIf="showUsers" fxLayout="row" fxLayoutGap="40px">

        <div>
          <table>
            <tr *ngFor="let user of usersForGroup">
              <td>{{user.userName}}</td>
              <td><button></button></td>
            </tr>
            <button md-button (click)="showUsers = false">Hide</button>
          </table>
        </div>

        <div>
          
        </div>

      </div>
    </div>
  </div>

  <div id="right">
    <button md-raised-button (click)="toggleForm()">New group</button>

    <div *ngIf="showForm">

        <form (submit)="addGroup(group.value)">

          <md-input-container>
              <input mdInput placeholder="Group" #group/>
          </md-input-container><br/>
        
        <button md-button type="submit">Send</button>
      </form>
      
    </div>
  </div>
</div>

