.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#right, #left {
    padding-left: 2vw;
    padding-right: 2vw;
}

#right {
    flex-grow: 3;
}

#left {
    width: 400px;
    flex-grow: 2;
}