
li {
    float: left;
    width: 30%;
    font-size: 24px;
    text-align: center;
    list-style-type: none;
    
}

li a {
    text-decoration: none;
    padding: 7px;
    border-radius: 8px;
    border: 2px solid black;
    background: whitesmoke;
    color: black;
}

li a:hover {
    background: white;
}

ul {
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #eaeaed;
    border-radius: 5px;
}