td {
    padding: 10px;
    border-bottom: 2px solid darkslategrey;
}

#addUsers {
    margin-top: 30px;
    margin-bottom: 20px;
}

#addgroups {
    margin-top: 40px;
}

select {
  margin: 10px;
  border: 1px solid #111;
  background: transparent;
  width: 130px;
  padding: 5px 5px 5px 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  height: 30px;
  background: #eee;
}