    <h1>Users</h1>
    <div fxLayout="row" fxLayoutGap="40px">
      <div>
        <table>
          <tr *ngFor="let user of users; let i = index">
            <td>{{user.userName}} </td>
            <td><button md-button (click)="showEditUserForm(i)">Edit</button></td>
            <td><button md-button (click)="deleteUser(i)">Delete</button></td>
          </tr>
        </table>

        <button id="addUsers" md-raised-button (click)="toggleForm()">Add users</button>

        <div [@fadeForm]='state'>
          <form (submit)="addUser(name.value, email.value, birthday.value)">

            <md-input-container>
                <input mdInput placeholder="Name" #name/>
            </md-input-container><br/>
            <md-input-container>
                <input mdInput placeholder="E-mail" #email/>
            </md-input-container><br/>
            <md-input-container>
                <input mdInput placeholder="Birthday" #birthday/>
            </md-input-container><br/>

            <button md-button type="submit">Send</button>
          </form>
          
        </div>
      </div>

      <div *ngIf="showEditForm">
          <form (submit)="editUser(name.value, email.value)">
            <md-input-container>
                <input mdInput placeholder="Name" value="{{userToEdit.userName}}" #name/>
            </md-input-container><br/>
            <md-input-container>
                <input mdInput placeholder="Email" value="{{userToEdit.userEmail}}" #email/>
            </md-input-container><br/>

            <button md-button type="submit">Commit changes</button>

          </form>

          <div id="addgroups">
            <ul>
              <li *ngFor="let group of groupsForUser">{{group.groupingName}}</li>
            </ul>

            <form (submit)="addGroupToUser(group.value)">
              <select #group>
                <option *ngFor="let group of groups">{{group.groupingName}}</option>
              </select>
              <button md-button type="submit">Add to a group</button>
            </form>
          </div>

      </div>
    </div>
